.contact-app-root {
    display: block;
    font-family: Arial, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.contact-app-root h1 {
    color: #333;
    margin-bottom: 10px;
}

.contact-app-root h2.sub-title {
    color: #333;
    font-size: 14px;
    font-style: italic;
}
